In [40]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_csv('full_data.csv')

In [47]:
df.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [50]:
df.describe().iloc[1:][["age", "hypertension", "heart_disease","avg_glucose_level", "bmi"]]

            age  hypertension  heart_disease  avg_glucose_level        bmi
mean  43.419859      0.096165       0.055210         105.943562  28.498173
std   22.662755      0.294848       0.228412          45.075373   6.790464
min    0.080000      0.000000       0.000000          55.120000  14.000000
25%   25.000000      0.000000       0.000000          77.230000  23.700000
50%   45.000000      0.000000       0.000000          91.850000  28.100000
75%   61.000000      0.000000       0.000000         113.860000  32.600000
max   82.000000      1.000000       1.000000         271.740000  48.900000

In [51]:
df = df[df['smoking_status'] != 'Unknown']

In [52]:
df.describe().iloc[1:][["age", "hypertension", "heart_disease","avg_glucose_level", "bmi"]]

            age  hypertension  heart_disease  avg_glucose_level        bmi
mean  49.067509       0.12324       0.065211         108.769155  29.808159
std   18.894255       0.32876       0.246934          48.133475   6.228310
min   10.000000       0.00000       0.000000          55.120000  14.100000
25%   34.000000       0.00000       0.000000          77.450000  25.300000
50%   50.000000       0.00000       0.000000          92.490000  29.100000
75%   64.000000       0.00000       0.000000         116.250000  33.500000
max   82.000000       1.00000       1.000000         271.740000  48.900000

In [ ]:
df['ever_married'] = [1 if x == 'Yes' else 0 for x in df['ever_married']]

In [ ]:
df['work_type'].value_counts().plot(kind='bar')

In [ ]:
df['Residence_type'].value_counts().plot(kind='bar')

In [ ]:
df['Residence_type'].value_counts().plot(kind='bar')