In [36]:
import pandas as pd
import numpy as np

In [37]:
df = pd.read_csv('full_data.csv')

In [38]:
df.shape

(4981, 11)

# Formatting The Data

In [39]:
count = 0
for x in df['smoking_status']:
    if x == 'Unknown':
        count = count + 1
print(count)

1500

In [40]:
print(df.shape[0] - count)

3481

In [41]:
df = df[df['smoking_status'] != 'Unknown']

In [42]:
count = 0
for x in df['smoking_status']:
    if x == 'Unknown':
        count = count + 1
print(count)
print(df.shape[0] - count)

0
3481

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3481 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             3481 non-null   object
 1   age                3481 non-null   float64
 2   hypertension       3481 non-null   int64
 3   heart_disease      3481 non-null   int64
 4   ever_married       3481 non-null   object
 5   work_type          3481 non-null   object
 6   Residence_type     3481 non-null   object
 7   avg_glucose_level  3481 non-null   float64
 8   bmi                3481 non-null   float64
 9   smoking_status     3481 non-null   object
 10  stroke             3481 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 326.3+ KB

In [44]:
df.describe()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,3481.000000,3481.00000,3481.000000,3481.000000,3481.000000,3481.000000
mean,49.067509,0.12324,0.065211,108.769155,29.808159,0.057742
std,18.894255,0.32876,0.246934,48.133475,6.228310,0.233288
min,10.000000,0.00000,0.000000,55.120000,14.100000,0.000000
25%,34.000000,0.00000,0.000000,77.450000,25.300000,0.000000
50%,50.000000,0.00000,0.000000,92.490000,29.100000,0.000000
75%,64.000000,0.00000,0.000000,116.250000,33.500000,0.000000
max,82.000000,1.00000,1.000000,271.740000,48.900000,1.000000

In [45]:
df.head(10)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
5,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
6,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
8,Female,81.0,1,0,Yes,Private,Rural,80.43,29.7,never smoked,1
9,Female,61.0,0,1,Yes,Govt_job,Rural,120.46,36.8,smokes,1
10,Female,54.0,0,0,Yes,Private,Urban,104.51,27.3,smokes,1

In [46]:
df.shape

(3481, 11)